<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='less/bootstrap.less') }}" rel="stylesheet/less">-->
    <link href="{{ url_for('static', filename='css/scheme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/overcast/jquery-ui-1.8.18.custom.css') }}" rel="stylesheet">

    <!--<script src="{{ url_for('static', filename='js/less-1.2.2.min.js') }}"></script>-->


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
    {% block css %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-1.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/less-1.3.0.min.js') }}"></script>-->
     <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDw3MasK3D5dyC5BH7WVcRikm79niyrk3Q&sensor=true"></script>
    <script src="{{ url_for('static', filename='js/infobox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smartinfowindow.js') }}"></script>
    </head>

    <body>
    {% block map_header %}
    {% endblock %}
    {% block navbar %}
    <!--<div class="wrapper">-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Project name</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="{{ url_for('map') }}">Map</a></li>
                        {% if get_flashed_messages() %}
                        {% for message in get_flashed_messages() %}
                        <li class="divider-vertical"></li>
                        <li><p id="status">{{ message }}</p></li>
                        <li class="divider-vertical"></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="nav pull-right">
                        {% if not g.user %}
                        <li><a href="/login">Register</a></li>
                        <li class="dropdown" id="login-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#login-menu">
                            Login
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=span4>
                            <p></p>
                            <div class="span3">
                                <form action="{{ url_for('login') }}" method=post>
                                    <label for="user">Username</label>
                                    <input type="text" value="" name="user" id="user" class="">
                                    <label for="passw">Password</label>
                                    <input type="password" value="" name="passw" id="passw" class="">
                                    <button class="btn" type="submit">Login</button>

                                    <div class="btn-group right">
                                        <button class="btn" onClick="location.href='{{ url_for('fb_login') }}';return false;"><i class="icon-facebook-sign icon-large"></i></button> 
                                        <button class="btn" onClick="location.href='{{ url_for('tw_login') }}';return false;"><i class="icon-twitter-sign icon-large"></i></button> 
                                    </div>

                                    <script>
$('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
        });
                                    </script>
                                </form>
                            </div>
                            </li>
                        </ul>
                        </li>
                        <!--<li><a href="{{ url_for('login') }}">Log In</a></li>-->
                        {% else %}
                        <!--<li>-->
                        <!--<a href="#" class="" rel="popover" id="flasher"-->
                        <!--data-content="-->
                        <!--{% for msg in get_flashed_messages() %}-->
                        <!--{{ msg }} </br>-->
                        <!--{% else %}-->
                        <!--{% endfor %}-->
                        <!--" data-original-title="A Title"><i class="icon-inbox"></i></a>-->
                        <!--</li>-->
                        <li class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ g.user.name }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user') }}">Info</a></li>
                            <li><a href="{{ url_for('add_entry') }}">Add project</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                        </li>

                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% endblock %}
    {% block subnav %}
    <!--
  <div class="subnav subnav-fixed" >
  <div class="container">
      <ul class="nav nav-pills">
          <li class="active">
          <a href="/">Home</a>
          </li>
          <li>
          <a href="/map">Map</a>
          </li>
          {% if g.user %}
          <li>
          <a href="/add">Add</a>
          </li>
          {% endif %}
      </ul>
  </div>
  </div>   -->


    {% endblock %}


    {% block content %}


    <div class="container">






        <div class="row">
            <div class="span12">
                <div class="contain">
                    <div id="mapcanvas" class="wrap">
                    </div>
                </div>
            </div>
        </div>
        {% for prj in content %}
        {% if loop.index%2 > 0 %}<div class="row">{% endif %}
            <div class="span3 {{ loop.cycle('offset3','offset3','offset2', 'offset3', 'offset1', 'offset3', 'offset0', 'offset3',
                'offset1','offset3','offset2', 'offset3', 'offset3', 'offset3') }}">
                <div class="contain">
                    <div class="wrap">
                        <!--<a href="/projects/{{ prj.id }}"><h3>{{prj.title}}</h3></a>
                        <p>{{ prj.description }}</p>-->

                        <ul class="thumbnails">
                            <li class="span33">
                            <a href="/projects/1"><img src="http://www.astateoftrance.com/wp-content/themes/asot-v3/img/asot550/placeholder-moscow.jpg" alt=""></a>

                            </li>
                        </ul>
                        <p class="well"> Description </p>
                        <span class="btn left">View</span>
                        <span class="right">
                            <div class="btn-group">
                                <a class="btn" href="#"><i class="icon-thumbs-up"</i></a>
                                <a class="btn" href="#"><i class="icon-thumbs-down"</i></a>
                            </div>
                        </span>


                    </div>
                </div>
            </div>
            {% if loop.index%2 == 0 or loop.last %} </div><!--row-->{% endif %}

        {% else %}
        <!--<div class="span3 contain">-->
        <!--<div class="wrap">-->

        {% endfor %}
    </div> <!-- /container -->




    {% endblock %}
    <!--<div class="footer-inner">
    </div>-->


    {% block footer %}
    <footer>
        <div class="container">
    <hr>
    <p>Built with <a href="http://fortawesome.github.com/Font-Awesome/" rel=nofollow><i class="icon-heart"></i></a> and <a href="http://twitter.github.com/bootstrap/index.html" rel=nofollow >Bootstrap</a>.</p>
    </div>
    </footer>

    {% endblock %}


    <!-- Le javascript-->
<script src="{{ url_for('static', filename='js/jquery.ba-hashchange.min.js') }}"></script>
<!--================================================== -->
    {% block js %}
    {% endblock %}

    {% block map_footer %}
    {% endblock %}
    </body>
    </html>

