{% extends "base.html" %}


{% block subnav %}
{% if cats %}
<div class="container">    
    <ul class="breadcrumb">
        {% for cat in cats %}
        <li>
        <a href="/cat/{{ cat[0] }}">{{ cat[0] }}</a> <span class="divider">/</span>
        </li>
        <!--<li
               <a href="#">Library</a> <span class="divider">/</span>
               </li>
               <li class="active">Data</li>
               -->
        {% else %}
        {% endfor %}
    </ul>
</div>
{% endif %}   
{% endblock  %}
{% block content %}


<div class="container">


    <!--<div class="contain">-->
    <!--<div class="wrap">  -->


    <div class="row">
        <div class="span12">
            <div class="contain">
                <div class="wrap">  
                    <div id="mapcanvas">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for prj in content.items %}
    {% if loop.index%2 > 0 %}<div class="row">{% endif %}
        <div class="span3 {{ loop.cycle('offset3','offset3','offset2', 'offset3', 'offset1', 'offset3', 'offset0', 'offset3',
            'offset1','offset3','offset2', 'offset3', 'offset3', 'offset3') }}">
            <div class="contain">
                <div class="wrap">
                    <!--<a href="/projects/{{ prj.id }}"><h3>{{prj.title}}</h3></a>
                        <p>{{ prj.description }}</p>-->
                    <p>
                    <span> 
                        <span class="badge  ">{{ prj.inns_now }}</span>
                        <span class="badge badge-warning">{{ prj.inns_target }}</span>
                    </span>
                    <span class="label  right">{{ prj.date_target | timebefore }}</span>
                    </p>
                    <ul class="thumbnails">
                        <li class="span3 width-fix" >
                        <div >
                            {% if  prj.image_link %}
                            <a href="/projects/{{ prj.id }}" class="thumbnail"><img src="{{ prj.image_link }}" alt=""></a>
                            {% else %}
                            <a href="/projects/{{ prj.id }}"><img src="{{ url_for('static', filename='img/cover.jpg') }}" alt=""></a>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    <h3 class="text-fix">{{ prj.title }}</h3>

                    <p class="well"> {{ prj.description}}</p>
                    {% if  prj.location %}
                    <h6><i class="icon-map-marker"></i> {{ prj.location }} </h6>
                    {% endif %}
                    <div class="progress progress-striped progress-warning active">
                        <div class="bar" style="width: {{ prj.inns_now / prj.inns_target * 100 }}%;"></div>
                    </div>
                    {% if prj.cat %}
                    <div class="btn-group left">
                        {% for cat in prj.cat %}
                        <a class="btn">{{ cat }}</a>
                        {% endfor %}
                    </div>
                    {% endif %} 
                    <p>



                    </p>

                    <!--<a class="btn left" href="/projects/{{ prj.id }}">View</a>-->
                    <!--<span class="right">-->
                    <!--<div class="btn-group">-->
                    <!--<a class="btn" id="rockon" href="#"><i class="icon-thumbs-up"></i></a>-->
                    <!--<a class="btn" href="#"><i class="icon-thumbs-down"></i></a>-->
                    <!--</div>-->
                    <!--</span>-->


                </div>
            </div>
        </div>
        {% if loop.index%2 == 0 or loop.last %} </div><!--row-->{% endif %}

    {% else %}
    <!--<div class="span3 contain">-->
    <!--<div class="wrap">-->
    <h3> Sorry no projects for you today </h3>
    <p> This is just for testing. Do not worry. </p>
    <!--</div>-->
    <!--</div>-->
    {% endfor %}


    <!--</div>-->
    <!--</div> -->

</div> <!-- /container -->




{% endblock %}
{% block footer %}
<footer>
    {% if content.pages > 1 %}
    <div class="container">
        <ul class="pager right">
            {% if content.has_prev %}
            <li>
            <a href="?p={{ content.page -1 }}">Previous</a>
            </li>
            {% endif %}
            {% if content.has_next %}
            <li>
            <a href="?p={{ content.page +1 }}">Next</a>
            </li>
            {% endif %}
        </ul>               
    </div>
    {% endif %}
</footer> 
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

