{% if mess %}
{% for mess in mess %}
<div class="modal fade" id="myModal{{loop.index}}" style="display:none">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Send message to {{mess.author.name}}</h3>
    </div>
    <div class="modal-body">
        <form method="post" action="{{url_for('mess_send',author=mess.author.name)}}">
            <p>
            {{form.message(class="span7",rows=12)}}
            </p>
        </div>
        <div class="modal-footer">
            <button href="#" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>  
<div class="row">
    <div class="span1">
        {% if mess.author == g.user %}
        <ul class="thumbnails">
            <li class="span1">
            <a href="#" rel="tooltip" title="{{ mess.author.name }}" class="thumbnail">
                <img src="{{ mess.author.email | gravatar }}" alt="" class="avatar" height="50" width="100">
            </a>
            </li>
        </ul>
        {% else %}
        <!--<a class="btn btn-danger" data-toggle="modal" href="#myModal{{loop.index}}" >reply</a>-->
        {% endif %}
    </div>  
    <div class="span6">
        <div class="accordion" id="accordion{{loop.index+1}}">
            <b class="arrow-right right"> </b>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{loop.index+1}}" href="#collapse{{loop.index}}">
                        Message from <strong>{{mess.author.name}}</strong> {{mess.date_created |timesince }} about <strong>{{mess.project.title}}</strong>
                    </a>
                </div>
                <div id="collapse{{loop.index}}" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        {{ mess.content }}
                    </div>
                </div>
            </div>
        </div>
        <!--<hr>-->
    </div>
    <div class="span1">
        {% if mess.author == g.user %}
        {% if mess.reciever == g.user %}
        <!--<a class="btn btn-danger" href="#" >reply</a>-->
        {% endif %}
        {% else %} 
        <ul class="thumbnails">
            <li class="span1">
            <a href="#" rel="tooltip" title="{{ mess.author.name }}" class="thumbnail">
                <img src="{{ mess.author.email | gravatar }}" alt="" class="avatar" height="50" width="100">
            </a>
            </li>
        </ul>  
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
