    <link href="{{ url_for('static', filename='css/overcast/jquery-ui-1.8.18.custom.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}"></script>
<style>
	#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
	.droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
	</style>
	<script>
	$(function() {
		$( "#draggable" ).draggable();
		$( ".droppable" ).droppable({
                drop: function( event, ui ) {
				$( this )
					.addClass( "ui-state-highlight" )
					.find( "p" )
						.html( "Dropped!" );
                $.post('ajax/test',
                    { 
                        'post' : $( this ).find("label").html()
                    },
                    function(data) {
                        alert(data);
                })
                <!--//.success(function(data) { alert(data); });-->
                
			}
		});
	});
	</script>



    <div class="demo">

        <div id="draggable" class="ui-widget-content">
            <p>Drag me to my target</p>
        </div>

        <div class="droppable ui-widget-header">
            <label> label1</label>
            <p>Drop here</p>
        </div>

        <div class=" droppable ui-widget-header">
            <label> label2</label>
            <p>Drop here</p>
        </div> 
        <div>
            <div class=" droppable ui-widget-header">
                <label> label3</label>
                <p>Drop here</p>
            </div>  

            <div class=" droppable ui-widget-header">
                <label> label4</label>
                <p>Drop here</p>
            </div>  
        </div>  

    </div><!-- End demo -->



    <div class="demo-description" style="display: none; ">
        <p>Enable any DOM element to be droppable, a target for draggable elements.</p>
    </div><!-- End demo-description -->

