{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">About</a></li>
                    {% if g.user == user %} 
                    <li><a href="#2" data-toggle="tab">Messages</a></li>
                    {% endif %}
                    <li><a href="#3" data-toggle="tab">Projects</a></li>
                    <li><a href="#4" data-toggle="tab">Participating</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        <p> <strong>{{user.name}}</strong> joined {{user.date_joined | timesince}}</p>
                    </div>
                    {% if g.user == user %}
                    <div class="tab-pane messages" id="2">
                        {% if mess %}
                        {% for mess in mess %} 
                        <div class="row">
                            <div class="span8">
                                <div class="row">
                                    <div class="span1">
                                        <p>
                                        <img src="{{ mess.author.email | gravatar }}" alt="{{ mess.author.name }}" class="thumbnail" height=50% >
                                        </p>
                                    </div>
                                    <div class="span6">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>{{ mess.author.name }} </th>
                                                    <th> {{mess.date_created |timesince }}</th>
                                                    {% if mess.kind == 'project' %}
                                                    <th>{{ mess.project.title }}</th>
                                                    {% else %}
                                                    <th>{{ mess.kind }}</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                {% if  ( mess.content |length ) > 72 %}
                                                
                                                <td colspan="3" data-toggle="collapse" data-target="#demo{{loop.index}}">
                                                    {{ mess.content[0:72] }}
                                                    <div id="demo{{loop.index}}" class="collapse"> {{mess.content[72:] }}</div> 
                                                    <div class="positarrow"><b class="arrow-right right"></b></div>
                                                </td>
                                                {% else %}
                                                <td colspan="3">{{ mess.content }}</td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span1">
                                        <p>
                                        <a class="btn btn-info" data-toggle="modal" href="#myModal{{loop.index}}">reply</a>
                                        </p>
                                        <p>
                                        <a class="btn btn-danger" href="/user/del/{{mess.id}}" >delete</a>
                                        </p> 
                                        <div class="modal fade" id="myModal{{loop.index}}" style="display:none">
                                            <div class="modal-header">
                                                <a class="close" data-dismiss="modal">×</a>
                                                <h3>Send message to {{mess.author.name}}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="{{url_for('mess_send',author=mess.author.name)}}">
                                                    <div class="well">
                                                    {{mess.content}}
                                                    </div>
                                                    <div class="well">
                                                    {{form.message(class="span6",rows=5)}}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button href="#" class="btn btn-primary">Send</button>
                                                </form>
                                            </div>
                                        </div>  
                                    </div> 
                                </div>
                                {% if not loop.last  %}
                                <hr>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}  
                    </div>
                    {% endif %}                       
                    <div class="tab-pane" id="3">
                        {% if user.projects %}
                        <ul class="thumbnails">
                            {% for prj in user.projects %}
                            <li class="span1">
                            <a href="/projects/{{prj.id}}" class="thumbnail" rel="tooltip" title="{{ prj.title }}">
                                <img src="{{ prj.image_link }}" alt="{{ prj.title }}" >
                            </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="4">
                        {% if user.participant %}
                        <ul class="thumbnails">
                            {% for prj in user.participant %}
                            <li class="span1">
                            <a href="/projects/{{prj.project.id}}" class="thumbnail" rel="tooltip" title="{{ prj.project.title }}">
                                <img src="{{ prj.project.image_link }}" alt="{{ prj.project.title }}" >
                            </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
