{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container">
  <form action="{{ url_for('login') }}" method=post>
    {{ render_field(form.username) }}
    {% for error in form.username.errors %}
    <strong>Error:</strong> {{ error }}
    {% else %}
    {% endfor %}
    {{ render_field(form.password) }}
    <p> <button class="btn" type="submit">Login<button></p>
    <!--{% for error in get_flashed_messages() %}
    <strong>Error:</strong> {{ error }}
    {% else %}
    {% endfor %}-->
  </form>

</div>
{% endblock %}

