{% extends "base.html" %}
{% block content %}

<div class="container main">


    <div class="content">
        <div class="row">
            <div class="span2">
              <!--Sidebar content-->
                <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                              <li class="nav-header">Sidebar</li>
                              <li class="active"><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li class="nav-header">Sidebar</li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li class="nav-header">Sidebar</li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                              <li><a href="#">Link</a></li>
                            </ul>
                </div>

            </div>
            <div class="span10">
                <div class="hero-unit">
                    <h1>Hello, world!</h1>
                        <p>This is a template for a simple marketing or informational website. 
                        It includes a large callout called the hero unit and three supporting pieces of content. 
                        Use it as a starting point to create something more unique.</p>
                </div>
                <div class="tabbable" style="margin-bottom: 9px;">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#1" data-toggle="tab">Section 1</a></li>
                      <li class=""><a href="#2" data-toggle="tab">Section 2</a></li>
                      <li><a href="#3" data-toggle="tab">Section 3</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="1">
                        <p>I'm in Section 1.</p>
                      </div>
                      <div class="tab-pane" id="2">
                        <p>Howdy, I'm in Section 2.</p>
                      </div>
                      <div class="tab-pane" id="3">
                        <p>What up girl, this is Section 3.</p>
                      </div>
                    </div>
                </div>
                
            </div>
        </div><!--row-->

               


    
    </div><!--ccontent-->


    
</div> <!-- /container -->


{% endblock %}

